<form action addCustom>
  <div class="row">
    <div class="large-8 columns">
      {{view Ember.TextField valueBinding="name" placeholder="Product Name"}}
    </div>
    <div class="large-4 columns">
      {{view Ember.TextField valueBinding="price" placeholder="Price"}}
    </div>
    <div class="large-3 columns">
      <button {{action submit}} class="button small">Add</button>
    </div>
    <div class="large-3 columns text-right">
      <a href="#" {{action cancelCustomLineItem}}>cancel</a>
    </div>
  </div>
</form>
