<div class="main">
  <div class="products">
    <h2>Welcome to the Open POS</h2>
    <div class="panel">
      <h3>All Your Orders</h3>
      <ul class="no-bullet">
        <li><em>Total Orders:</em> {{controllers.orders.length}}</li>
        <li><em>Total Income:</em> ${{money controllers.orders.totalOrders}}</li>
      </ul>
    </div>

  </div>
  <div class="categories mtl">
    {{#linkTo orders.new class='button large radius'}}Start a New Order{{/linkTo}}
  </div>
</div>


