.spaced {
	margin-left: 30px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.categorytablewidth {
	width: 600px;
}

.producttablewidth {
	width: 1000px;
}

.cellwidth {
	width: 15px;
}

.bold {
	font-weight: bold;
}

.title {
	font-size: 22px;
	font-weight: bold;
}

.border {
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.bottomborder {
	border-bottom: dotted;
	border-width: 2px;
	border-color: black;
}
