<div class="row">
 <h1 class="center">New Category</h1>
  <div class="small-2 large-6 columns">   
    <p id="notice"><%= notice %></p>
    <div> 
      <p><span class="bold">Name:</span>  <%= @admin_category.name %></p>
    </div>
<br />
<%= link_to 'Edit', edit_admin_category_path(@admin_category), class: "bold" %> |
<%= link_to 'Back', admin_categories_path, class: "bold" %>
</br>

<br />
