{{#view Pos.LineItemView contentBinding='lineItem' class='row collapse'}}
  <div class="name columns">
    <h6>{{lineItem.name}}</h6>
  </div>
  <div class="qty text-right columns">
    <h6>qty: {{lineItem.quantity}}</h6>
  </div>

  <div class="line-total columns">
    <h6>
    <span class='money'>
      ${{money lineItem.lineItemTotalCents}}
    </span>
    </h6>
  </div>
  {{#if editing}}
    <div class="taxable columns">
      taxable {{taxable}}
    </div>
  {{/if}}
  <div class="edit columns">
    <span class="button small">-</span>
  </div>
{{/view}}
