<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Open Pos</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="active"><a href="#">{{#linkTo orders.new}}New Order{{/linkTo}}</a></li>
      <li class="divider"></li>
      </li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
  </section>
</nav>

<div class="container">
  <div class="row">
    <div class="twelve columns">
      {{outlet}}
    </div>
  </div>
</div>
