<div class="container">
  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <h1>
          {{#linkTo index}}
            Open POS
          {{/linkTo}}
        </h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <section>
      <ul class="left">
 				<li class="divider"></li>
      </ul>
      <ul class="right">
        <li class="divider show-for-medium-and-up"></li>
      </ul>
    </div>
    </section>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="twelve columns">
    	<h2>Open POS</h2>
      {{outlet}}
    </div>
  </div>
</div>
