<div class="row">
	<div class="reciept">
		<ul class="no-bullet">
			{{#each order in controller}}
				<li>{{#linkTo order order}}{{order.customerEmail}}{{/linkTo}}</li>
			{{/each}}
		</ul>
	</div>
</div>

{{outlet}}