<h1>Products Page</h1>
<div class="row product-create">
  <div class="large-4 columns">
    <ul>
      {{#each model}}
        <li>{{#link-to 'products.show' this}}{{name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="large-8 columns">
    {{outlet}}
  </div>
</div>



