button {
	@include button-base;
  @include button-size;
  @include button-style;
  @include radius;
  @include single-transition;
}
.products {
	@include grid-column(9, $float:left);
}
.categories {
	@include grid-column(3, $float:left);
}

.products-list {
	$per-row: 3;
	$spacing: $block-grid-default-spacing;
	$base-styles: true;
	@include block-grid($per-row, $spacing, $base-styles);
	li {
		padding: 10px;
	}
}